@import url("https://fonts.googleapis.com/css2?family=Neucha&display=swap");
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Neucha", cursive;
  background-image: url("./Assets/Img/dp2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 2px 0;
  text-align: center;
  color: #eee;
  width: 100vw;
  height: 100vh;
}
